@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');


.genres{
    background-color: black;
    color: white;
    display:grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 50px;
    font-family: 'Kanit', sans-serif;
}